@font-face {
  font-family: Craftwork Sans;
  src: url('../fonts/CraftworkSans-Semibold.woff') format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Craftwork Sans;
  src: url('../fonts/CraftworkSans-Medium.woff') format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Craftwork Sans;
  src: url('../fonts/CraftworkSans-Regular.woff') format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Craftwork Sans;
  src: url('../fonts/CraftworkSans-Black.woff') format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Craftwork Sans;
  src: url('../fonts/CraftworkSans-Bold.woff') format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --_white---950: #292929;
  --transparent: #e6eae966;
  --white-900: white;
  --_athens-gray---950: #31333a;
  --_ottoman---800: #194c2d;
  --gray-400: #587169;
  --black-900: #000;
  --_athens-gray---100: #e9ebee;
  --_ottoman---100: #daf1dd;
  --green-50: #e6f6e9;
  --_white---50: white;
  --_selago---50: #ebefff;
  --_china-ivory---100: #f4fec9;
  --_athens-gray---900: #4d505b;
  --_ottoman---50: #e6f6e9;
  --_ottoman---200: #b7e3c0;
  --_ottoman---950: #0b2315;
  --_ottoman---500: #339653;
  --_ottoman---300: #87ce9a;
  --_ottoman---700: #1c6036;
  --_athens-gray---400: #a3abb7;
  --_athens-gray---50: #f6f7f8;
  --_china-ivory---50: #fbffe7;
  --_bubbles---50: #e5f9fc;
  --blue-50: #dff3fc;
  --_selago---100: #e0e6ff;
  --_white---100: #efefef;
  --_bubbles---100: #d4f3f9;
  --_athens-gray---200: #dadee3;
  --_china-ivory---200: #e8fd99;
  --_selago---200: #c7d0fe;
  --_white---200: gainsboro;
  --_bubbles---200: #aee7f3;
  --_athens-gray---300: #c1c8cf;
  --_china-ivory---300: #d5f85e;
  --_selago---300: #a5b1fc;
  --_white---300: #bdbdbd;
  --_bubbles---300: #76d3ea;
  --lime-50: #fbffe7;
  --_ottoman---400: #55b270;
  --_china-ivory---400: #c0ee2d;
  --_selago---400: #8188f8;
  --_white---400: #989898;
  --_bubbles---400: #37b6d9;
  --_athens-gray---500: #8c94a5;
  --_china-ivory---500: #a1d40e;
  --_selago---500: #6563f1;
  --_white---500: #7c7c7c;
  --_bubbles---500: #1b9abf;
  --_ottoman---600: #237840;
  --_athens-gray---600: #7b8295;
  --_china-ivory---600: #7daa06;
  --_selago---600: #5546e5;
  --_white---600: #656565;
  --_bubbles---600: #1a7ca0;
  --_athens-gray---700: #6e7387;
  --_china-ivory---700: #5e810a;
  --_selago---700: #4838ca;
  --_white---700: #525252;
  --_bubbles---700: #1b6483;
  --_athens-gray---800: #5d6070;
  --_china-ivory---800: #4b650f;
  --_selago---800: #4838ca;
  --_white---800: #464646;
  --_bubbles---800: #1f536b;
  --_ottoman---900: #153f26;
  --_china-ivory---900: #3f5611;
  --_selago---900: #342e81;
  --_white---900: #3d3d3d;
  --_bubbles---900: #1e455b;
  --_china-ivory---950: #203003;
  --_selago---950: #201b4b;
  --_bubbles---950: #0e2c3e;
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

.w-layout-vflex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-commerce-commercecheckoutformcontainer {
  background-color: #f5f5f5;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
}

.w-commerce-commercelayoutcontainer {
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.w-commerce-commercelayoutmain {
  flex: 0 800px;
  margin-right: 20px;
}

.w-commerce-commercecartapplepaybutton {
  color: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  background-color: #000;
  border-width: 0;
  border-radius: 2px;
  align-items: center;
  height: 38px;
  min-height: 30px;
  margin-bottom: 8px;
  padding: 0;
  text-decoration: none;
  display: flex;
}

.w-commerce-commercecartapplepayicon {
  width: 100%;
  height: 50%;
  min-height: 20px;
}

.w-commerce-commercecartquickcheckoutbutton {
  color: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  background-color: #000;
  border-width: 0;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  height: 38px;
  margin-bottom: 8px;
  padding: 0 15px;
  text-decoration: none;
  display: flex;
}

.w-commerce-commercequickcheckoutgoogleicon, .w-commerce-commercequickcheckoutmicrosofticon {
  margin-right: 8px;
  display: block;
}

.w-commerce-commercecheckoutcustomerinfowrapper {
  margin-bottom: 20px;
}

.w-commerce-commercecheckoutblockheader {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  justify-content: space-between;
  align-items: baseline;
  padding: 4px 20px;
  display: flex;
}

.w-commerce-commercecheckoutblockcontent {
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  padding: 20px;
}

.w-commerce-commercecheckoutlabel {
  margin-bottom: 8px;
}

.w-commerce-commercecheckoutemailinput {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  height: 38px;
  margin-bottom: 0;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutemailinput::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutemailinput:focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutshippingaddresswrapper {
  margin-bottom: 20px;
}

.w-commerce-commercecheckoutshippingfullname {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  height: 38px;
  margin-bottom: 16px;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutshippingfullname::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutshippingfullname:focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutshippingstreetaddress {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  height: 38px;
  margin-bottom: 16px;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutshippingstreetaddress::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutshippingstreetaddress:focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutshippingstreetaddressoptional {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  height: 38px;
  margin-bottom: 16px;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutshippingstreetaddressoptional::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutshippingstreetaddressoptional:focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutrow {
  margin-left: -8px;
  margin-right: -8px;
  display: flex;
}

.w-commerce-commercecheckoutcolumn {
  flex: 1;
  padding-left: 8px;
  padding-right: 8px;
}

.w-commerce-commercecheckoutshippingcity {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  height: 38px;
  margin-bottom: 16px;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutshippingcity::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutshippingcity:focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutshippingstateprovince {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  height: 38px;
  margin-bottom: 16px;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutshippingstateprovince::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutshippingstateprovince:focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutshippingzippostalcode {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  height: 38px;
  margin-bottom: 16px;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutshippingzippostalcode::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutshippingzippostalcode:focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutshippingcountryselector {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  height: 38px;
  margin-bottom: 0;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutshippingcountryselector::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutshippingcountryselector:focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutshippingmethodswrapper {
  margin-bottom: 20px;
}

.w-commerce-commercecheckoutshippingmethodslist {
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}

.w-commerce-commercecheckoutshippingmethoditem {
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 0;
  padding: 16px;
  font-weight: 400;
  display: flex;
}

.w-commerce-commercecheckoutshippingmethoddescriptionblock {
  flex-direction: column;
  flex-grow: 1;
  margin-left: 12px;
  margin-right: 12px;
  display: flex;
}

.w-commerce-commerceboldtextblock {
  font-weight: 700;
}

.w-commerce-commercecheckoutshippingmethodsemptystate {
  text-align: center;
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  padding: 64px 16px;
}

.w-commerce-commercecheckoutpaymentinfowrapper {
  margin-bottom: 20px;
}

.w-commerce-commercecheckoutcardnumber {
  -webkit-appearance: none;
  appearance: none;
  cursor: text;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  height: 38px;
  margin-bottom: 16px;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutcardnumber::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutcardnumber:focus, .w-commerce-commercecheckoutcardnumber.-wfp-focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutcardexpirationdate {
  -webkit-appearance: none;
  appearance: none;
  cursor: text;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  height: 38px;
  margin-bottom: 16px;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutcardexpirationdate::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutcardexpirationdate:focus, .w-commerce-commercecheckoutcardexpirationdate.-wfp-focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutcardsecuritycode {
  -webkit-appearance: none;
  appearance: none;
  cursor: text;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  height: 38px;
  margin-bottom: 16px;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutcardsecuritycode::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutcardsecuritycode:focus, .w-commerce-commercecheckoutcardsecuritycode.-wfp-focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutbillingaddresstogglewrapper {
  flex-direction: row;
  display: flex;
}

.w-commerce-commercecheckoutbillingaddresstogglecheckbox {
  margin-top: 4px;
}

.w-commerce-commercecheckoutbillingaddresstogglelabel {
  margin-left: 8px;
  font-weight: 400;
}

.w-commerce-commercecheckoutbillingaddresswrapper {
  margin-top: 16px;
  margin-bottom: 20px;
}

.w-commerce-commercecheckoutbillingfullname {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  height: 38px;
  margin-bottom: 16px;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutbillingfullname::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutbillingfullname:focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutbillingstreetaddress {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  height: 38px;
  margin-bottom: 16px;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutbillingstreetaddress::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutbillingstreetaddress:focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutbillingstreetaddressoptional {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  height: 38px;
  margin-bottom: 16px;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutbillingstreetaddressoptional::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutbillingstreetaddressoptional:focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutbillingcity {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  height: 38px;
  margin-bottom: 16px;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutbillingcity::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutbillingcity:focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutbillingstateprovince {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  height: 38px;
  margin-bottom: 16px;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutbillingstateprovince::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutbillingstateprovince:focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutbillingzippostalcode {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  height: 38px;
  margin-bottom: 16px;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutbillingzippostalcode::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutbillingzippostalcode:focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutbillingcountryselector {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  height: 38px;
  margin-bottom: 0;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutbillingcountryselector::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutbillingcountryselector:focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutorderitemswrapper {
  margin-bottom: 20px;
}

.w-commerce-commercecheckoutsummaryblockheader {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  justify-content: space-between;
  align-items: baseline;
  padding: 4px 20px;
  display: flex;
}

.w-commerce-commercecheckoutorderitemslist {
  margin-bottom: -20px;
}

.w-commerce-commercecheckoutorderitem {
  margin-bottom: 20px;
  display: flex;
}

.w-commerce-commercecartitemimage {
  width: 60px;
  height: 0%;
}

.w-commerce-commercecheckoutorderitemdescriptionwrapper {
  flex-grow: 1;
  margin-left: 16px;
  margin-right: 16px;
}

.w-commerce-commercecheckoutorderitemquantitywrapper {
  white-space: pre-wrap;
  display: flex;
}

.w-commerce-commercecheckoutorderitemoptionlist {
  margin-bottom: 0;
  padding-left: 0;
  text-decoration: none;
  list-style-type: none;
}

.w-commerce-commercelayoutsidebar {
  flex: 0 0 320px;
  position: sticky;
  top: 20px;
}

.w-commerce-commercecheckoutordersummarywrapper {
  margin-bottom: 20px;
}

.w-commerce-commercecheckoutsummarylineitem, .w-commerce-commercecheckoutordersummaryextraitemslistitem {
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
  display: flex;
}

.w-commerce-commercecheckoutsummarytotal {
  font-weight: 700;
}

.w-commerce-commercecheckoutplaceorderbutton {
  color: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  text-align: center;
  background-color: #3898ec;
  border-width: 0;
  border-radius: 3px;
  align-items: center;
  margin-bottom: 20px;
  padding: 9px 15px;
  text-decoration: none;
  display: block;
}

.w-commerce-commercecheckouterrorstate {
  background-color: #ffdede;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 10px 16px;
}

.w-commerce-commercepaypalcheckoutformcontainer {
  background-color: #f5f5f5;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
}

.w-commerce-commercecheckoutcustomerinfosummarywrapper {
  margin-bottom: 20px;
}

.w-commerce-commercecheckoutsummaryitem, .w-commerce-commercecheckoutsummarylabel {
  margin-bottom: 8px;
}

.w-commerce-commercecheckoutsummaryflexboxdiv {
  flex-direction: row;
  justify-content: flex-start;
  display: flex;
}

.w-commerce-commercecheckoutsummarytextspacingondiv {
  margin-right: .33em;
}

.w-commerce-commercecheckoutpaymentsummarywrapper {
  margin-bottom: 20px;
}

.w-commerce-commercepaypalcheckouterrorstate {
  background-color: #ffdede;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 10px 16px;
}

.w-commerce-commerceorderconfirmationcontainer {
  background-color: #f5f5f5;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
}

.w-commerce-commercecheckoutshippingsummarywrapper {
  margin-bottom: 20px;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }

  .w-commerce-commercelayoutcontainer {
    flex-direction: column;
    align-items: stretch;
  }

  .w-commerce-commercelayoutmain {
    flex-basis: auto;
    margin-right: 0;
  }

  .w-commerce-commercelayoutsidebar {
    flex-basis: auto;
  }
}

@media screen and (max-width: 479px) {
  .w-commerce-commercecheckoutemailinput, .w-commerce-commercecheckoutshippingfullname, .w-commerce-commercecheckoutshippingstreetaddress, .w-commerce-commercecheckoutshippingstreetaddressoptional {
    font-size: 16px;
  }

  .w-commerce-commercecheckoutrow {
    flex-direction: column;
  }

  .w-commerce-commercecheckoutshippingcity, .w-commerce-commercecheckoutshippingstateprovince, .w-commerce-commercecheckoutshippingzippostalcode, .w-commerce-commercecheckoutshippingcountryselector, .w-commerce-commercecheckoutcardnumber, .w-commerce-commercecheckoutcardexpirationdate, .w-commerce-commercecheckoutcardsecuritycode, .w-commerce-commercecheckoutbillingfullname, .w-commerce-commercecheckoutbillingstreetaddress, .w-commerce-commercecheckoutbillingstreetaddressoptional, .w-commerce-commercecheckoutbillingcity, .w-commerce-commercecheckoutbillingstateprovince, .w-commerce-commercecheckoutbillingzippostalcode, .w-commerce-commercecheckoutbillingcountryselector {
    font-size: 16px;
  }
}

.link {
  border: 2px solid #7d8ce3;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 347.08px;
  height: 35px;
  text-decoration: none;
  display: flex;
}

.linktext {
  color: var(--_white---950);
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: .75em;
  font-weight: 600;
  line-height: 1em;
  text-decoration: none;
}

.linktext.semitransp {
  opacity: .2;
  color: var(--_white---950);
}

.navigationmenu {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  -webkit-backdrop-filter: blur(13px);
  backdrop-filter: blur(13px);
  -webkit-text-fill-color: inherit;
  background-color: #f5f7f68f;
  background-clip: border-box;
  border: 2px solid #ffffff30;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  width: 61.8047%;
  height: 58px;
  margin: 8px 0 0;
  padding: 8px;
  text-decoration: none;
  display: flex;
  position: sticky;
  inset: 1.5% 0% auto auto;
}

.navigationmenu.top {
  z-index: 7;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: var(--transparent);
  outline-offset: 0px;
  outline: 1.75px solid #e9ebee33;
  width: 100%;
  margin-top: 0;
  padding-left: 8px;
  padding-right: 8px;
}

.navlinkswrapper {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-flow: row;
  flex: 0 auto;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 0;
  text-decoration: none;
  display: flex;
}

.navigationmenulink {
  background-color: #e6eae936;
  border: 2px #7d8ce3;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
  display: flex;
}

.navigationmenulink:hover {
  background-color: #fff;
}

.navigationmenulink.w--current {
  background-color: var(--white-900);
  height: 100%;
  margin-top: 0;
}

.body {
  clear: none;
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  color: #000;
  background-color: #e6eae966;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  margin: 48px 78px 78px;
  font-family: Inter, sans-serif;
  font-size: 13px;
  display: flex;
}

.body.casesize {
  margin: 6px;
}

.caseimagewrapper {
  float: right;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #fff0;
  border: 1px #000;
  border-radius: 0;
  flex-flow: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: auto;
  min-width: 0;
  max-width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  margin: auto;
  padding: 0;
  display: flex;
}

.caseimagewrapper.tight {
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  min-width: 100%;
  padding-top: 0;
  padding-bottom: 12px;
}

.caseimage {
  vertical-align: baseline;
  margin-top: 0;
}

.caseimage.nomargin {
  margin-top: 10px;
  margin-bottom: 10px;
}

.case01details {
  margin-right: 12px;
}

.gradientwrapper {
  clear: none;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  opacity: 1;
  outline-offset: 2px;
  background-color: #f5fce5;
  background-image: radial-gradient(circle, #f5fbfe, #f5fce5);
  border-radius: 12px;
  outline: 1px #e6eae900;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
  min-height: auto;
  margin-top: 12px;
  margin-bottom: 12px;
  font-family: Craftwork Sans, Arial, sans-serif;
}

.gradientwrapper.handshake {
  background-color: #ebefff;
  background-image: radial-gradient(circle, #ebefff, #fff);
  border-radius: 27%;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
}

.gradientwrapper.nukraine {
  background-color: #e6f6e9;
  background-image: radial-gradient(circle, #e6f6e9, #fff);
  border-radius: 20%;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}

.gradientwrapper.flowmapp {
  background-color: #e9ebee;
  background-image: radial-gradient(circle, #e9ebee, #fff);
  border-radius: 2%;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}

.gradientwrapper.camp {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #e5f9fc;
  background-image: linear-gradient(#e5f9fc, #fff);
  border-radius: 27% 27% 22% 22%;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
}

.gradientwrapper.purple {
  background-color: #ebefff;
  background-image: radial-gradient(circle, #f5fbfe, #ebefff);
}

.gradientwrapper.green {
  background-color: #ecf8ee;
  background-image: radial-gradient(circle, #f5fbfe, #ecf8ee);
}

.sidewrapper {
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  background-color: #e6eae900;
  border: 1px solid #e6eae900;
  border-radius: 12px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
  max-width: 420px;
  height: auto;
  margin-top: 12px;
  margin-right: 0;
  padding: 12px;
  font-size: 17px;
  text-decoration: none;
  display: flex;
}

.sidewrapper.feedback {
  background-color: var(--white-900);
}

.logo {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 4.03857px;
  text-decoration: none;
  display: flex;
}

.inter1emnormal {
  direction: ltr;
  color: var(--_athens-gray---950);
  letter-spacing: 0;
  -webkit-text-stroke-width: 0px;
  text-indent: 0;
  white-space: pre-wrap;
  word-break: normal;
  align-self: auto;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  text-decoration: none;
  display: block;
}

.inter1emnormal.nomargin {
  color: var(--_ottoman---800);
  width: 100%;
  margin-bottom: 0;
}

.inter1emnormal.gray {
  opacity: .24;
  color: var(--gray-400);
  letter-spacing: 0;
  align-self: flex-start;
  font-weight: 500;
}

.inter1emnormal.gray.center {
  text-align: center;
}

.inter1emnormal.black {
  align-self: flex-start;
}

.inter1emnormal.black.center {
  text-align: center;
}

.footer {
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  text-decoration: none;
  display: flex;
}

.header1-5emsemibolduppercase {
  color: var(--_athens-gray---950);
  text-align: left;
  letter-spacing: 0;
  text-indent: 0;
  text-transform: uppercase;
  margin-top: 12px;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1em;
}

.header1-5emsemibolduppercase.gray {
  opacity: .5;
  color: var(--gray-400);
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 1em;
}

.blockimage {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #f1f3f200;
  border: 3px solid #b8e6fa0d;
  border-radius: 8px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  place-items: center;
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 27px;
  padding-top: 0;
  text-decoration: overline;
  display: flex;
}

.singleworkshopcard {
  grid-column-gap: 46px;
  grid-row-gap: 46px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-self: flex-start;
  align-items: center;
  width: auto;
  max-width: 100%;
  height: auto;
  margin: 0 auto auto;
  padding: 3.6em;
  display: flex;
}

.singleworkshopcard.casepage {
  flex-flow: column;
  align-self: center;
  padding-bottom: 8.9em;
  padding-right: 3.6em;
}

.singleworkshopcard.huge {
  padding-left: 1em;
  padding-right: 1em;
}

.h3-3vh {
  color: var(--black-900);
  margin-top: 40px;
  margin-bottom: 10px;
  font-family: Inter, sans-serif;
  font-size: 3vh;
  font-weight: 600;
  line-height: 3vh;
}

.h3-3vh.sub {
  opacity: .48;
  padding-top: 12px;
  font-size: 2vw;
  line-height: 1.5vw;
}

.background-video {
  z-index: 7;
  background-color: #fff0;
  border-radius: 100%;
  flex: 0 auto;
  width: 80px;
  height: 80px;
  margin-top: 20px;
}

.list {
  margin-top: 12px;
  margin-bottom: 40px;
  padding-left: 22px;
  list-style-type: lower-alpha;
}

.list-item {
  padding-bottom: 12px;
  font-family: Inter, sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  list-style-type: square;
}

.list-item-2, .list-item-3, .list-item-4 {
  padding-bottom: 12px;
  font-family: Inter, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  list-style-type: square;
}

.caption-link-13-17 {
  letter-spacing: .5px;
  vertical-align: sub;
  color: gray;
  margin-top: 12px;
  font-weight: 600;
  line-height: 17px;
}

.video {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

.introsection {
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  background-color: #e6eae900;
  border-radius: 12px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin: 124px auto 0;
  padding: 44px 0 12px;
  display: flex;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

.c-color_copy {
  background-color: var(--transparent);
  outline-offset: 0px;
  -webkit-text-fill-color: inherit;
  background-clip: border-box;
  border-radius: 100%;
  outline: 3px #00e;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  display: flex;
}

.sub {
  color: #6e7177;
  font-family: Inter, sans-serif;
  font-size: 1vw;
  font-weight: 600;
  line-height: 1vw;
}

.portrait {
  width: 10vw;
}

.childspantitle {
  color: var(--_white---950);
  padding: .5em 0;
  font-family: Inter, sans-serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1em;
  text-decoration: none;
  display: block;
}

.childspantitle.curved {
  font-family: Georgia, Times, Times New Roman, serif;
  font-weight: 400;
}

.childspan {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  background-color: var(--_athens-gray---100);
  border-radius: 200px;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  padding: 1em 2em;
  display: flex;
}

.childspan.ottoman100 {
  background-color: var(--_ottoman---100);
  color: var(--black-900);
  text-decoration: none;
}

.childspan.ottoman100.link {
  border-style: none;
  border-color: var(--white-900);
  background-color: var(--green-50);
  text-underline-offset: 8px;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  transition: text-underline-offset .2s;
}

.childspan.ottoman100.link.white {
  background-color: var(--white-900);
}

.childspan.white50 {
  background-color: var(--_white---50);
}

.childspan.purple {
  background-color: var(--_selago---50);
}

.childspan.china200 {
  background-color: var(--_china-ivory---100);
}

.parentspan {
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  flex-flow: wrap;
  flex: 0 auto;
  order: -1;
  justify-content: flex-start;
  align-self: stretch;
  align-items: center;
  max-width: 60rem;
  margin: 0 0;
  display: flex;
}

.parentspan.top {
  order: -1;
  margin-top: 0;
}

.generatedimage {
  color: #aaaeb7;
  border: 4px #7777772e;
  border-radius: 8px;
  width: 60px;
  height: auto;
}

.generatedimage.box {
  width: 90px;
}

.unsplash-image {
  object-fit: contain;
  object-position: 50% 50%;
  border-radius: 8px;
  width: 60px;
  height: 90px;
  display: block;
}

.singleworkshopheading {
  grid-column-gap: 40px;
  grid-row-gap: 80px;
  flex: 0 auto;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-self: stretch;
  place-items: start stretch;
  display: grid;
}

.smallcolumn {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  flex-flow: column;
  flex: 0 auto;
  justify-content: flex-start;
  align-self: center;
  align-items: center;
  padding: 2px;
  display: flex;
}

.casecaptions {
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-self: flex-start;
  place-items: start stretch;
  display: grid;
}

.heder12-5emnormal {
  color: var(--_white---950);
  letter-spacing: -14px;
  text-transform: none;
  align-self: flex-start;
  max-width: 60rem;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 12.5em;
  font-weight: 400;
  line-height: 1em;
}

.imagetriger {
  width: 100%;
  height: 100%;
  display: flex;
}

.workshopgrid {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.magbutton {
  background-color: var(--black-900);
  -webkit-text-fill-color: inherit;
  background-clip: border-box;
  border: 1px #25e491;
  border-radius: 100%;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  margin: 1em;
  font-family: Inter, sans-serif;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: hidden;
}

.magbutton.blue {
  width: 120px;
}

.magbutton.realtive {
  width: 71.3861px;
  height: 74.1656px;
  position: absolute;
  inset: 0% auto auto 0%;
}

.btntext {
  z-index: 5;
  color: var(--white-900);
  text-align: center;
  font-family: Inter, sans-serif;
  font-weight: 500;
  position: relative;
}

.hovercolor {
  z-index: 1;
  -webkit-backdrop-filter: invert();
  backdrop-filter: invert();
  background-color: #0d90bc;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  height: 0;
  display: flex;
  position: absolute;
  inset: auto 0% 0%;
}

.hovercolor.a {
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
  background-color: #7b8295;
}

.hovercolor.purple {
  background-color: #5546e5;
}

.hovercolor.green {
  background-color: #237840;
}

.aboutsection {
  width: 100%;
  padding-top: 160px;
  padding-bottom: 12px;
}

.aboutmetext {
  color: var(--_athens-gray---900);
  padding-top: 42px;
  padding-left: 36px;
  padding-right: 290px;
  font-size: 1.6em;
  font-weight: 400;
  line-height: 1.26em;
}

.imageportrait {
  padding-top: 58px;
  padding-left: 160px;
}

.contactsection {
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  padding: 32px 0 80px;
  display: flex;
}

.contactsection.paddingtop92 {
  flex-flow: column;
  padding-top: 92px;
  padding-bottom: 0;
}

.codeembed {
  width: 100%;
  display: flex;
}

.smalleventcard {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  border: 4px none var(--_ottoman---50);
  background-color: var(--_ottoman---200);
  opacity: 1;
  border-radius: 32px;
  flex-flow: column;
  flex: 0 auto;
  order: 0;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  justify-content: space-between;
  align-self: flex-start;
  align-items: flex-start;
  width: auto;
  max-width: 1024px;
  height: auto;
  margin-left: 0;
  margin-right: 0;
  padding: 8px 24px;
  font-size: 14px;
  display: flex;
}

.inter16pxmedium {
  color: var(--_ottoman---950);
  font-size: 16px;
  font-weight: 500;
}

.smallchip {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  background-color: var(--_ottoman---100);
  outline-color: var(--_ottoman---100);
  outline-offset: 0px;
  border-radius: 20px;
  outline-width: 2px;
  outline-style: solid;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 20px;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
}

.statuscotainer {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.signbutton {
  background-color: var(--_ottoman---500);
  box-shadow: inset 0 2px 4px 0 var(--_ottoman---200);
  opacity: 1;
  outline-color: var(--_ottoman---300);
  outline-offset: 0px;
  text-align: center;
  border-radius: 18px;
  outline-width: 1px;
  outline-style: none;
  padding: 14px 26px;
  font-size: 16px;
  font-weight: 500;
}

.signbutton:hover {
  background-color: var(--_ottoman---700);
}

.eventbuttonflex {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.singleworkshopnumber {
  color: var(--_athens-gray---400);
}

.latestevents {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  background-color: var(--_ottoman---100);
  background-image: radial-gradient(circle farthest-corner at 50% 50%, var(--_ottoman---200), var(--_athens-gray---50));
  border-radius: 42px;
  flex-flow: column;
  margin: 20px 0 0;
  padding: 20px;
  display: flex;
}

@media screen and (max-width: 991px) {
  .body {
    margin-left: 40px;
    margin-right: 40px;
  }

  .caseimagewrapper.tight {
    width: 100vh;
  }

  .caseimage.nomargin {
    width: 100%;
  }

  .inter1emnormal.nomargin {
    margin-bottom: 0;
  }

  .video {
    width: 716px;
  }

  .magbutton.realtive {
    left: -112px;
  }
}

@media screen and (max-width: 767px) {
  .navigationmenu {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
  }

  .body {
    margin-left: 10px;
    margin-right: 10px;
  }

  .caseimagewrapper {
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 19px;
    padding-bottom: 19px;
  }

  .caseimagewrapper.tight {
    width: 100%;
  }

  .caseimage {
    max-width: 60%;
    margin-top: 0;
  }

  .caseimage.nomargin {
    max-width: 100%;
  }

  .gradientwrapper {
    flex-flow: column;
    flex: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 34px;
  }

  .sidewrapper {
    max-width: 100%;
  }

  .inter1emnormal.nomargin {
    margin-bottom: 0;
  }

  .header1-5emsemibolduppercase {
    font-size: 1em;
    line-height: 1em;
  }

  .blockimage {
    width: 100%;
  }

  .singleworkshopcard {
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: 0;
  }

  .video {
    width: 100%;
    overflow: clip;
  }

  .introsection {
    padding-left: 25px;
    padding-right: 25px;
  }

  .sub {
    font-size: 2vw;
    line-height: 2vw;
  }

  .portrait {
    width: 60vw;
  }

  .childspantitle {
    font-size: 2.5rem;
    line-height: 1em;
  }

  .generatedimage {
    width: 80px;
  }

  .singleworkshopheading {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }

  .casecaptions {
    grid-column-gap: 80px;
    grid-row-gap: 80px;
    flex-flow: column;
    place-items: center stretch;
    display: flex;
  }

  .magbutton.realtive {
    left: -65px;
  }
}

@media screen and (max-width: 479px) {
  .linktext {
    text-align: center;
    font-size: .8em;
  }

  .navigationmenu {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    flex-flow: row;
    width: 100%;
    margin-top: 20px;
    top: .5%;
  }

  .body {
    margin-left: 10px;
    margin-right: 10px;
  }

  .caseimagewrapper {
    width: 100%;
    min-width: 100%;
    height: auto;
    margin-bottom: 12px;
    margin-right: 0;
    padding: 12px 10px 60px;
  }

  .caseimagewrapper.tight {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
  }

  .caseimage {
    max-width: 100%;
    height: auto;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
  }

  .caseimage.nomargin {
    max-width: 100%;
  }

  .case01details {
    margin-bottom: 0;
    margin-right: 0;
  }

  .gradientwrapper {
    margin-top: 0;
  }

  .sidewrapper {
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  .sidewrapper.feedback {
    background-color: var(--white-900);
  }

  .inter1emnormal {
    text-align: left;
    align-self: auto;
    font-size: 1em;
  }

  .inter1emnormal.nomargin {
    margin-bottom: 0;
  }

  .header1-5emsemibolduppercase {
    width: 100%;
    font-size: 1em;
    line-height: 1em;
  }

  .blockimage {
    width: 100%;
    margin: 0;
    padding: 18px 0;
  }

  .singleworkshopcard {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    flex-flow: column;
    flex: 0 auto;
    justify-content: center;
    align-self: stretch;
    align-items: center;
    width: 100%;
    margin-top: 0;
    padding: 4em 2em;
    display: flex;
  }

  .singleworkshopcard.casepage {
    padding: 6.4em 3.4em;
  }

  .singleworkshopcard.huge {
    padding: 2em;
  }

  .h3-3vh.sub {
    font-size: 4vw;
    line-height: 4vw;
  }

  .background-video {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .video {
    width: 100%;
  }

  .introsection {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    width: 100%;
    margin-top: 0;
    padding-top: 78px;
    padding-left: 0;
    padding-right: 0;
  }

  .sub {
    font-size: 4vw;
    line-height: 4vw;
  }

  .portrait {
    width: 100vw;
  }

  .childspantitle {
    font-size: 1.5rem;
    line-height: .1em;
  }

  .childspan {
    height: 4em;
  }

  .parentspan {
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    margin: 0 .2em .2em;
  }

  .parentspan.top {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-flow: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .generatedimage {
    border-width: 2px;
    border-radius: 5px;
    width: 40px;
  }

  .generatedimage.box {
    width: 40px;
  }

  .generatedimage.portrait {
    width: 32px;
  }

  .singleworkshopheading {
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    grid-template-columns: 1fr 1fr 1fr;
    align-self: stretch;
    place-items: center stretch;
  }

  .smallcolumn {
    align-self: flex-start;
  }

  .casecaptions {
    grid-column-gap: 13px;
    grid-row-gap: 13px;
    text-align: left;
    flex-flow: column;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: flex-start;
    align-self: flex-start;
    align-items: center;
    margin-left: 0;
    display: grid;
  }

  .heder12-5emnormal {
    letter-spacing: -9px;
    font-size: 6em;
  }

  .workshopgrid {
    flex-flow: column;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    display: flex;
  }

  .magbutton.realtive {
    position: absolute;
    top: 0;
    left: 0;
  }

  .aboutsection {
    padding-top: 36px;
  }

  .aboutmetext {
    padding-top: 42px;
    padding-right: 0;
    font-size: 1.25em;
  }

  .imageportrait {
    padding-left: 20px;
  }

  .contactsection.paddingtop92 {
    padding-top: 68px;
  }

  .smalleventcard {
    grid-column-gap: 28px;
    grid-row-gap: 28px;
  }

  .statuscotainer {
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .signbutton {
    border-radius: 8px;
    font-size: 14px;
  }

  .signbutton:active {
    outline-color: var(--_ottoman---100);
    outline-offset: 0px;
    border: 1px #000;
    outline-width: 4px;
    outline-style: solid;
  }

  .eventbuttonflex {
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}

#w-node-_8fb55b33-20e6-5e81-8603-b9c01decd9dd-b8527d78 {
  justify-self: end;
}

#w-node-_8fb55b33-20e6-5e81-8603-b9c01decd9e2-b8527d78 {
  align-self: start;
}

#w-node-ef620e6f-41c4-0dc1-019e-be32671e7ce1-438e8d12 {
  grid-area: span 1 / span 2 / span 1 / span 2;
  justify-self: center;
}

#w-node-_73205588-692a-e20b-5ef5-c9c1fdebfa80-438e8d12 {
  justify-self: end;
}

#w-node-_1eded001-a809-ddc9-2167-bce4c0f0173a-438e8d12, #w-node-f4e564f2-43b9-2285-635d-8f52a5009aa8-438e8d12 {
  align-self: start;
}

#w-node-_0add255e-af3d-e323-746b-07c3dfc3aeaa-438e8d12 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_0add255e-af3d-e323-746b-07c3dfc3aeaf-438e8d12 {
  justify-self: end;
}

#w-node-_0add255e-af3d-e323-746b-07c3dfc3aeb5-438e8d12, #w-node-_5eea8d08-1b1f-89b2-2899-83ff4924fbd8-438e8d12 {
  align-self: start;
}

#w-node-_989ea570-edaa-182b-7994-77d7a5fadbbb-438e8d12 {
  grid-area: 2 / 3 / 3 / 5;
}

#w-node-_989ea570-edaa-182b-7994-77d7a5fadbc0-438e8d12 {
  justify-self: end;
}

#w-node-_989ea570-edaa-182b-7994-77d7a5fadbc6-438e8d12, #w-node-_989ea570-edaa-182b-7994-77d7a5fadbd0-438e8d12, #w-node-_4b18f2e5-0809-ea12-d7c4-c8472c785024-438e8d12 {
  align-self: start;
}

#w-node-_54f6f476-422b-01fb-9dbc-95168db9761f-438e8d12 {
  grid-area: 2 / 1 / 3 / 3;
}

#w-node-_54f6f476-422b-01fb-9dbc-95168db97624-438e8d12 {
  justify-self: end;
}

#w-node-_54f6f476-422b-01fb-9dbc-95168db9762a-438e8d12, #w-node-_54f6f476-422b-01fb-9dbc-95168db97634-438e8d12, #w-node-_24d05796-6218-636c-105e-222557fb49a9-438e8d12 {
  align-self: start;
}

#w-node-_8a813f55-0a52-2bd2-4043-0e898598ca46-25a0e3c0 {
  justify-self: end;
}

#w-node-_8a813f55-0a52-2bd2-4043-0e898598ca4c-25a0e3c0 {
  align-self: start;
}

#w-node-_606c58eb-6c07-c160-8ca0-6bca61bfcc9a-f9c13019 {
  justify-self: end;
}

#w-node-_606c58eb-6c07-c160-8ca0-6bca61bfcca0-f9c13019 {
  align-self: start;
}

#w-node-ef620e6f-41c4-0dc1-019e-be32671e7ce1-35a8d272 {
  grid-area: span 1 / span 2 / span 1 / span 2;
  justify-self: center;
}

#w-node-_73205588-692a-e20b-5ef5-c9c1fdebfa80-35a8d272 {
  justify-self: end;
}

#w-node-_0add255e-af3d-e323-746b-07c3dfc3aeaa-35a8d272 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_0add255e-af3d-e323-746b-07c3dfc3aeaf-35a8d272 {
  justify-self: end;
}

#w-node-_989ea570-edaa-182b-7994-77d7a5fadbbb-35a8d272 {
  grid-area: 2 / 3 / 3 / 5;
}

#w-node-_989ea570-edaa-182b-7994-77d7a5fadbc0-35a8d272 {
  justify-self: end;
}

#w-node-_54f6f476-422b-01fb-9dbc-95168db9761f-35a8d272 {
  grid-area: 2 / 1 / 3 / 3;
}

#w-node-_54f6f476-422b-01fb-9dbc-95168db97624-35a8d272 {
  justify-self: end;
}

@media screen and (max-width: 479px) {
  #w-node-_8fb55b33-20e6-5e81-8603-b9c01decd9dd-b8527d78, #w-node-_73205588-692a-e20b-5ef5-c9c1fdebfa80-438e8d12 {
    grid-area: 1 / 3 / 2 / 4;
    justify-self: end;
  }

  #w-node-_0add255e-af3d-e323-746b-07c3dfc3aeaf-438e8d12 {
    grid-area: 1 / 3 / 2 / 4;
    place-self: center end;
  }

  #w-node-_989ea570-edaa-182b-7994-77d7a5fadbc0-438e8d12, #w-node-_54f6f476-422b-01fb-9dbc-95168db97624-438e8d12 {
    grid-area: 1 / 3 / 2 / 4;
    justify-self: end;
  }

  #w-node-_8a813f55-0a52-2bd2-4043-0e898598ca46-25a0e3c0 {
    grid-area: 1 / 3 / 2 / 4;
    place-self: center end;
  }

  #w-node-_606c58eb-6c07-c160-8ca0-6bca61bfcc9a-f9c13019, #w-node-_73205588-692a-e20b-5ef5-c9c1fdebfa80-35a8d272 {
    grid-area: 1 / 3 / 2 / 4;
    justify-self: end;
  }

  #w-node-_0add255e-af3d-e323-746b-07c3dfc3aeaf-35a8d272 {
    grid-area: 1 / 3 / 2 / 4;
    place-self: center end;
  }

  #w-node-_989ea570-edaa-182b-7994-77d7a5fadbc0-35a8d272 {
    grid-area: 1 / 3 / 2 / 4;
    justify-self: end;
  }

  #w-node-_54f6f476-422b-01fb-9dbc-95168db97624-35a8d272 {
    grid-area: 1 / 3 / 2 / 4;
    place-self: auto end;
  }
}


@font-face {
  font-family: 'Craftwork Sans';
  src: url('../fonts/CraftworkSans-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Craftwork Sans';
  src: url('../fonts/CraftworkSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Craftwork Sans';
  src: url('../fonts/CraftworkSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Craftwork Sans';
  src: url('../fonts/CraftworkSans-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Craftwork Sans';
  src: url('../fonts/CraftworkSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}